@import "tailwindcss";
@import "@mantine/core/styles.css";

.mantine-Table-th {
  @apply text-[14px] font-medium;
  background: light-dark(#fff, var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
}

.mantine-Table-table {
  @apply border-0;
}

.mantine-Table-td {
  @apply text-right text-[14px] font-semibold;
}

.mantine-Table-tr {
  border-color: light-dark("#f8f9fa", var(--mantine-color-dark-2));
}
